* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  color: #2C2A29;
  ;
}

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 80px 0;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: none;
}

.title {
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  margin-bottom: 8px;
}

.image-section {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 41px 0;
}

.image-container {
  width: 379px;
  height: 617.89px;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.text-section {
  width: 810px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.grid-section {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.grid-item {
  width: 684px;
  height: 800px;
  border-radius: 24px;
}

.grid-item img {
  width: 684px;
  height: 800px;
  object-fit: cover;
  border-radius: 24px;
}

.text-box {
  padding: 0 48px 48px 49px;
  background-color: #f4f0ea;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: Lato;
  color: #1F1F1F;
  text-align: left;
}

.text-box .text-box-title {
  font-size: 64px;
  line-height: 74px;
}

.text-box .text-box-subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 8px;
}

.text-box .text-box-description {
  font-size: 14px;
  line-height: 22px;
}

.text-box-2 .text-box-title {
  margin-bottom: 40px;
}

@media (max-width: 1439px) {
  .title {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 0;
  }

  .image-section {
    gap: 4.5px;
    padding: 27px 0;
  }

  .image-container {
    width: 177px;
    height: 289px;
  }

  .text-section {
    width: 353px;
    font-size: 14px;
    line-height: 22px;
  }

  .grid-section {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }

  .grid-item.text-box:nth-child(2) {
    grid-row: 1;
  }

  .grid-item {
    width: 359px;
    height: fit-content;
    border-radius: 16px;
  }

  .grid-item img {
    width: 359px;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
  }

  .text-box {
    padding: 34px 18px 42px;
  }

  .text-box-2 {
    padding: 20px 18px;
  }

  .text-box .text-box-title {
    font-size: 32px;
    line-height: 42px;
  }

  .text-box .text-box-subtitle {
    font-size: 18px;
    line-height: 30px;
    margin: 16px 0 8px;
  }

  .text-box-2 .text-box-title {
    margin-bottom: 16px;
  }
}